/*turned home, about poe, interpretation links horizontal*/
nav ul li{
  display: inline;
}
/* changed background photo to fit page so it doesnt repeat or stretch */
body{
  background-image: URL("http://wallpaper.zone/img/2575145.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 100% 100%;
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
}
h1{
  color: black;
  margin-left: 25px;
}
/* changed links */
a:visited{
  color: blue;
}
a:hover{
  text-decoration: none;
  font-weight: bold;
  font-size: 110%
}
a.active{
  font-weight: bold;
  font-size: 120%;
}
/* border around home, about poe, integration links in the header */
.top-nav{
  background-color: #ffffff;
  opacity: .6;
  border-radius: 3px;
  border: solid black;
  margin-right: 930px;
 }
/* each pages sidebar moved to the right side of the page */
#sidebar {
  width: 300px;
  float: right;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 3px;
  opacity: .6;
  margin: 20px;
  padding: 30px;
}
/* floated picture to have text wrap around photo */
.bio-photo{
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0;
  display: inline;
  height: 398px;
  width: 273px;
  font-size: 80%;
  text-align: center;
}
.bio-photo img{
  margin: 0;
}
#content{
  padding; 20px;
}
/* change all p tags to have background color and opacity */
#content p{
  border: 1px solid black;
  background-color: #ffffff;
  max-width: 65%;
  opacity: .6;
  padding: 5px;
  border-radius: 3px;
  font-family: Trebuchet MS;
}
/* had to align the first <p> and second <p> so they wasnt over flowing into the bio-photo */
#p-1{
  margin-left: 300px;
  margin-right: 400px
}
#p-2{
  margin-left: 300px;
  margin-right: 400px;
}
/* Made all in the info in the aside section on the about-poe html doc into a definition list */
dt{
  font-weight: bold;
  font-size: 115%;
  text-decoration: underline;
}
/* Used padding to make the text read a litte better */
dd{
  margin: 0;
  font-size: 115%;
  padding: 4px;
}
/* changed line height in the summary in the aside section on intepretation html doc. one the <sup> tag was added it made the bottom line look weird compared to the rest. */
#summary{
  line-height: 1.5;
}
/* it seems when you add a <sup> tag like it changes the line height only for that line. changing it to zero seemed to help for me */
sup{
  line-height: 0;
}
/* Styles to Poem in the index.html file */
.poem{
  background-color: #ffffff;
  list-style-type: none;
  padding: 10px;
  padding-left: 20px;
  margin: 30px;
  line-height: 1.6;
  max-width: 380px;
  border: 1px solid black;
  opacity: .6;
}
.poem li{
  font-size: 105%;
  font-family: cursive;
}
/* Changed to first letter of each line in the poem in the index.html file */
.poem li:first-letter{
  font-size: 115%;
  font-weight: bold;
}
#aside1{
  line-height: 1.5;
}
/* added image to sidebar section on the index.html file. Image of the Sonnet to Science poem in the doc. changed the size of photo. Easy to shift around while position is absolute */
#sidebar img{
  position: absolute;
  top: 200x;
  right: 410px;
  width: 380px;
  height: 175px;
}
/* Next editions are transformations of table that was created on the about-poe html doc. information can be found in the poe-selected-works csv file in the directory for this project. */
table{
  font-size: 115%;
  border: 1px solid black;
  background-color: #ffffff;
  border-radius: 3px;
  opacity: .8;
  margin-bottom: 7px;
}
/* centered inforation in each column. format seemed to be the only info effected by this. */
td{
  text-align: center;
}
/* each type of format was not capitalized. changed that here instead of chaning each letter individually. */
td:first-letter{
  text-transform: uppercase;
}
caption{
  padding: 14px;
  font-size: 120%;
  font-weight: bold;
  color: black;
}
/* Created an ID for the h2 above the table in about poe html doc so i could edit it individually */
#works-table{
  text-decoration: underline;
  margin:10px;
  margin-bottom: 0;
}
footer{
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 3px;
  opacity: .6;
  max-width: 40%;
  padding: 10px;
}